.square {
  background-color: red;
}

.ref-1 {
  background-color: pink;
}

.ref-2 {
  background-color: pink;
}

.ref-3 {
  background-color: pink;
}
.ref-4 {
  background-color: pink;
}
.ref-5 {
  background-color: pink;
}
.ref-6 {
  background-color: pink;
}
.ref-7 {
  background-color: pink;
}
.ref-8 {
  background-color: pink;
}
.ref-9 {
  background-color: pink;
}